body {
    display: flex ;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;

    border-left: 150px solid rgb(255, 247, 0) ;
    border-right: 150px solid lightblue  ;
}

.top {
    height: 250px ;
    width: 900px ;
    padding-top: 25px;
}

.bottom {
    height: 250px ;
    width: 900px ;
}

.mid {
    height: 700px ;
    width: 500px ;
    padding-bottom: 25px;
}

.photos {
    height: 350px;
    width: 450px;
}

.extra {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.proposal {
    height: 500px;
    width:415px;
    padding-top: 70px;
}

.linker {
    position: fixed ;
    background-color: rgba(255, 247, 0, 0.856);
    border-top: 3px solid aqua;
    border-bottom: 3px solid aqua;
}

.links:hover {
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: blue;
    padding-left: 80px;
    font-size: x-large;
}

.form {
    display: flex;
    flex-direction: column;


    padding: 25px;
    margin: 25px;

    background-color: rgba(255, 247, 0, 0.4);
    border: 2px solid rgb(1, 116, 1);
}

.a {
    padding-top: 10px;
    color: rgb(1, 77, 1);
}

.helpful {
    font-size: x-large;
    border: solid 7px  rgb(210, 255, 29);
    padding: 20px ;
    padding-left: 20px;
    background-color: rgba(32, 113, 0, 0.795);
    list-style: none;
}

.b {
    text-decoration: none;
    color: rgb(0, 229, 255);
}

.b2 {
    text-decoration: none;
    color: rgb(238, 255, 0);
}

.b:hover {
    font-weight: bold;
}

.b2:hover {
    font-weight: bold;
}

h1 {
    color: green;
}

h2 {

    color: green;

}

.fb {
    height: 60px;
    width: 60px;
    bottom: 10px;
    right: 25px;
    position: fixed;
}

.c {
    font-size: large;
    background-color: rgba(127, 255, 212, 0.297);
    font-weight: bold;
}

.d {
    padding-top: 50px;
    padding-bottom: 15px;

    height: 500px ;
    width: 750px ;
}

.picPage {
    background-color: rgba(0, 255, 255, 0.11);
}

.gray {
    color:rgb(86, 86, 86)
}

.com {
    display: flex;
    justify-content: flex-start;
}


.guest {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: flex-start;
}
